@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* color palette:   #247ba0 for a blue background
                    #254d32 for quiz area background
                    #f9db6d for text and some shades
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #247ba0;
    color: #f9db6d;
}

.quiz-name {
    font-size: 60px;
    margin: 25px;
}

h2 {
    font-size: 45px;
    margin-bottom: 60px;
}


.quiz-area {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0;
    padding: 25px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 1.5rem;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    color: #f9db6d;
    background-color: #254d32;
    border-radius: 15px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem #f9db6d;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscores-btn {
    background: #d33f04d3;
}

/* End page style */

.end-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    width: 600px;
}

#end {
    margin: 0 0 0 350px;
}

input {
    margin-bottom: 20px;
    width: 200px;
    padding: 20px;
    font-size: 22px;
    border: none;
    box-shadow: 0 5px 16px 0 #f9db6d;
}

input::placeholder {
    color: rgba(39, 141, 8, 0.795);
}

#username {
    margin-bottom: 20px;
    width: 60%;
    outline: none;
}

#end-text {
    font-size: 35px;
    color: #f9db6d;
    text-align: center;
}

#sace-score-btn {
    border: none;
}

.fa-laptop-house {
    margin-left: 20px;
    color: #247ba0;
}